[DEFAULT]
# A boolean to indicate whether or not to check for package updates.
check_for_updates=True

# Object to kind mappings
comment_kind=t1
message_kind=t4
redditor_kind=t2
submission_kind=t3
subreddit_kind=t5

# The URL prefix for OAuth-related requests.
oauth_url=https://oauth.reddit.com

# The URL prefix for regular requests.
reddit_url=https://www.reddit.com

# The URL prefix for short URLs.
short_url=https://redd.it

log_file=
log_level_message_bot=ERROR
log_level_submission_bot=ERROR
log_level_notification_bot1=ERROR
database=lfg_tables.db
environment=development

[submission]
client_id=
client_secret=
password=
username=
user_agent=

[message]
client_id=
client_secret=
password=
username=
user_agent=

[notification1]
client_id=
client_secret=
password=
username=
user_agent=