<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Tool to make subscribing to the u/LFG_Notify_Bot Easier">
  <link rel="icon" href="/static/favicon.ico"/>
  <title>LFG Notify Bot Assistant</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<script type="text/x-template" id="app-template">
  <v-app>
    <v-container>
      <div class="form-box">
        <h2>Subscribe with u/LFG_Notify_Bot</h2>
        <h5><a href="https://github.com/hunter-read/lfg-notify-bot/blob/main/README.md#how-to-use"target="_blank" rel="noopener">View the Documentation here for help</a></h5>
        <v-form>
          <v-select v-model="selectedGames" :items="games" label="Game*" required multiple chips hint="What game do you want to play" persistent-hint></v-select>
          <v-select v-model="selectedFlair" :items="flairs" label="Flair" required multiple chips hint="Limit by subreddit flair." persistent-hint></v-select>
          <v-select v-model="selectedLocation" :items="locations" label="Location" hint="Play online or off" persistent-hint></v-select>
          <v-select v-model="selectedNSFW" :items="nsfw" label="NSFW" hint="Don't play these games at work" persistent-hint></v-select>
          <v-select v-model="selectedAge" :items="ages" label="Age Range" hint="Limit play to adults or anyone" persistent-hint></v-select>
          <v-select v-model="selectedPbp" :items="pbp" label="Play-by-Post" hint="Play over messages, through discord or a VTT" persistent-hint></v-select>
          <v-select v-model="selectedOneShot" :items="oneShot" label="One-Shot" hint="Play once, or more, it's up to you" persistent-hint></v-select>
          <v-combobox v-model="selectedTimezone" :items="timezones" label="Timezone" multiple chips hint="(Optional) You can type in timezones and hit enter if missing from the list." persistent-hint></v-combobox>
          <v-select v-model="selectedDays" :items="days" label="Day of the Week" multiple chips hint="(Optional) What day of the week are you available" persistent-hint></v-select>
          <v-select v-model="selectedVtt" :items="vtt" label="Virtual Table Top" multiple chips hint="(Optional) Places to play TTRPG online" persistent-hint></v-select>
          <v-select v-model="selectedIdentity" :items="identities" label="Identity" multiple chips hint="(Optional) Find groups that match your identity" persistent-hint></v-select>
          <v-combobox v-model="selectedKeywords" :items="keywords" label="Keywords" multiple chips hint="(Optional) Type in word and hit enter. Include some if you want a more specific match" persistent-hint></v-combobox>
          <div class="text-center"><v-btn :disabled="selectedGames.length == 0 || selectedFlair.length == 0" color="blue-grey" class="ma-2 white--text submit" @click.native="sendToReddit()" x-large>Submit</v-btn></div>
          <br>
          <h6 class="text-center">
            <a href="https://www.reddit.com/message/compose/?to=LFG_Notify_Bot&subject=Unsubscribe&message=STOP" target="_blank" rel="noopener noreferrer">Unsubscribe</a> |
            <a href="https://www.reddit.com/r/lfg/new/" target="_blank" rel="noopener noreferrer">LFG Subreddit</a> |
            <a href="https://www.reddit.com/message/compose/?to=Perfekthuntr&subject=LFG%20Notification%20Bot%20Issue" target="_blank" rel="noopener noreferrer">Report an Issue</a> |
            <a href="https://github.com/hunter-read/lfg-notify-bot#user-data" target="_blank" rel="noopener noreferrer">Data Policy</a> |
            <a href="https://github.com/sponsors/hunter-read" target="_blank" rel="noopener noreferrer">Support this project</a>
          </h6>
        </v-form>
      </div>
    </v-container>
  </v-app>
</script>
<div id="app"></div>
<script src='https://unpkg.com/vue@2.6.14/dist/vue.js'></script>
<script src='https://unpkg.com/vuetify@2.5.8/dist/vuetify.js'></script>
<script src="/static/script.js"></script>
</body>
</html>
