.v-application--wrap{
  margin:0;
  padding:0;
  background: linear-gradient(#141e30, #243b55);
}
.v-messages__message {
  color:#1b7479;
}
.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 480px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: rgba(46,49,49,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.form-box h2 {
  margin: 0 0 5px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.form-box h5 {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}
.coffee {
  float: right;
}
@media only screen and (max-width: 600px) {
  .form-box {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    transform: inherit;
  }
}